/.idea
jobex-web-app/venv/*
**/*.pyc
/JOBEX-REST/*.pem
/JOBEX-REST/DAL/__pycache__/*.pyc
/JOBEX-REST/Classes/__pycache__/*.pyc
/JOBEX-REST/Controllers/__pycache__/*.pyc
/JOB-Service/Logs/*.log
/JOBEX-REST/*.sqlite
/JOB-REST/Logs/*.log