{% extends "layout.html" %}
{% block content %}
    <script src="/static/js/main.js"></script>
    <h1>Welcome {{ request.args['username'] }} :)</h1>
    <h1>---------------------------------------------</h1>
    <table id="positions" style="width:100%">
        <thead>
        <tr>
            <th>Position</th>
            <th>Department</th>
            <th>Location</th>
            <th>Skills</th>
            <th>Active</th>
            <th>Comment</th>
        </tr>
        </thead>
        <tbody>
        {% if positions %}
            {% for position in positions %}
                <tr>
                    <td><a href="/positions/{{ position.id }}" onclick="access_token(url='/positions/{{ position.id }}'); return false;">{{ position.position_name }}</a></td>
                    <td>{{ position.department }}</td>
                    <td>{{ position.location }}</td>
                    <td>
                        {% for skill in position.skills %}
                            {{skill}}{{"," if not loop.last }}
                        {% endfor %}
                    </td>
                    <td>{{ position.active }}</td>
                    <td>{{ position.comment }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
        <tfoot>
        <tr>
            <th>Position</th>
            <th>Department</th>
            <th>Location</th>
            <th>Skills</th>
            <th>Active</th>
            <th>Comment</th>
        </tr>
        </tfoot>
    </table>
    <h1>---------------------------------------------</h1>
    <script>$(document).ready(function () {
        $('#positions').DataTable();
    });</script>
    <script>
            function access_token(url) {
                debugger;
                var access_token = window.localStorage.accessToken;
                var req = new XMLHttpRequest();
                req.open("POST", url, true);
                req.setRequestHeader('Content-Type', 'application/json');
                {#req.setRequestHeader('Access-Control-Allow-Origin', '*');#}
                req.setRequestHeader("Authorization", "Bearer " + access_token);
                req.send();
            }
    </script>
{% endblock content %}