{% extends "layout.html" %}
{% block content %}
    <script src="/static/js/main.js"></script>
    <h1>Welcome {{ username }} :)</h1>
    <h1>---------------------------------------------</h1>
    <table id="positions" style="width:100%">
        <thead>
        <tr>
            <th>Position</th>
            <th>Department</th>
            <th>Location</th>
            <th>Skills</th>
            <th>Active</th>
            <th>Comment</th>
        </tr>
        </thead>
        <tbody>
        {% if positions %}
            {% for position in positions %}
                <tr>
                    <td>{{ position[0] }}</td>
                    <td>{{ position[1] }}</td>
                    <td>{{ position[2] }}</td>
                    <td>{{ position[3] }}</td>
                    <td>{{ position[4] }}</td>
                    <td>{{ position[5] }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
        <tfoot>
        <tr>
            <th>Position Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Temporary</th>
            <th>Date Created</th>
            <th>Comment</th>
        </tr>
        </tfoot>
    </table>
    <h1>---------------------------------------------</h1>
    <script src="/static/js/main.js"></script>
    <script>
        $(document).ready(
            function tokenSuccess() {
                console.log(tokens)

    });
    </script>
{% endblock content %}