<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Saving Tokens</title>
    <script src="/static/js/jquery-3.2.1.slim.min.js"></script>
</head>
<body>
    <script>
        $(document).ready(
            function () {
                debugger;
                var access_token = '{{ tokens['access_token'] }}';
                var refresh_token = '{{ tokens['refresh_token'] }}';

                if ( access_token!= undefined ) {
                    console.log('successfully updated access token');
                    window.localStorage.accessToken =access_token;
                }
                if ( refresh_token != undefined) {
                    console.log('successfully updated refresh token');
                    window.localStorage.refreshToken = refresh_token;
                }
            }
        );
    </script>
    <script>
            $(document).ready(
                function () {
                debugger;
                var access_token = window.localStorage.accessToken;
                var req = new XMLHttpRequest();
                req.open("GET", '{{ url_for('dashboard_view', username=username) }}', true);
                {#req.setRequestHeader('Content-Type', 'application/json');#}
                {#req.setRequestHeader('Access-Control-Allow-Origin', '*');#}
                req.setRequestHeader("Authorization", "Bearer " + access_token);
                req.send();
            });
    </script>
{#    <script>window.location.replace("{{ url_for('dashboard_view', username=username) }}")</script>#}
</body>
</html>