{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Let's add a position</legend>
                <div class="form-group">
                    {{ form.position_name.label(class="form-control-label") }}

                    {% if form.position_name.errors %}
                        {{ form.position_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.position_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.position_name(class="form-control form-control-lg", id="position_name") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.position_department.label(class="form-control-label") }}
                    {% if form.position_department.errors %}
                        {{ form.position_department(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.position_department.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.position_department(class="form-control form-control-lg", id="position_department") }}
                    {% endif %}
                </div>

                <div class="form-group">
                        {{ form.position_skills.label }}
                        <small class="text-muted">{{ form.position_skills.description }}</small>
                        {{ form.position_skills(class_="form-control") }}

                        {% for error in form.position_skills.errors %}
                        <span class="label label-danger">{{ error }}</span>
                        {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.position_location.label(class="form-control-label") }}
                    <small class="text-muted">{{ form.position_location.description }}</small>
                    {{ form.position_location(class="form-control form-control-lg") }}
                </div>
                <br>
                <div class="form-group">
                    {{ form.comment.label(class="form-control-label") }}
                    <small class="text-muted">{{ form.comment.description }}</small>
                    {{ form.comment(class="form-control form-control-lg") }}
                </div>
                <div class="form-check">
                    {{ form.position_active(class="form-check-input") }}
                    {{ form.position_active.label(class="form-check-label", id="position_active") }}
                </div>
            </fieldset>
            <button class="btn btn-outline-info" onclick="add_position()">
                Add Position
            </button>
        </form>
    </div>

<script>
    $(document).ready(function () {
                var access_token = window.localStorage.accessToken;
                var req = new XMLHttpRequest();
                var url = "http://127.0.0.1:5050/resources/skills";
                req.open("GET", url, false);
                req.setRequestHeader('Content-Type', 'application/json');
                req.setRequestHeader('Access-Control-Allow-Origin', '*');
                req.setRequestHeader("Authorization", "Bearer " + access_token);
                req.send();
                var results_arr = JSON.parse(req.response);
                var select = document.getElementById("position_skills");
                for (var lst_idx = 0; lst_idx < results_arr.length; lst_idx++)
                {
                    var json = results_arr[lst_idx];
                    var skill_name = json['TextValue'];
                    var skill_id = json['SkillId'];
                    var skill_sub_cat = json['SkillSubCategoryId']
                    var skill_cat = json['SkillCategoryId']
                    var skill_metadata = skill_id + "," + skill_sub_cat + "," + skill_cat;
                    select.options[select.options.length] = new Option(skill_name, skill_metadata);
                }
    });
    function add_position() {
                var access_token = window.localStorage.accessToken;
                var req = new XMLHttpRequest();
                var url = "http://127.0.0.1:5050/positions";
                var position_name = document.getElementById("position_name").value;
                var position_department = document.getElementById("position_department").value;
                var position_location = document.getElementById("position_location").value;
                var position_active = document.getElementById("position_active").checked;
                var position_skills = document.getElementById("position_skills");
                var selected_skills = [];
                for (var i = 0; i < position_skills.length; i++)
                    if (position_skills.options[i].selected)
                        selected_skills.push(position_skills.options[i].value);
                selected_skills = JSON.stringify(selected_skills);
                var comment = document.getElementById("comment").value;
                var body = JSON.stringify('{"position_name":"' + position_name + '",' +
                    '"position_department":"' + position_department + '",' +
                    '"position_location":"' + position_location + '",' +
                    '"comment":"' + comment + '",' +
                    '"skills":' + selected_skills + ',' +
                    '"position_active":"' + position_active + '"}');
                req.open("POST", url, false);
                req.setRequestHeader('Content-Type', 'application/json');
                req.setRequestHeader('Access-Control-Allow-Origin', '*');
                req.setRequestHeader("Authorization", "Bearer " + access_token);
                req.send(body);
                // var results = req.response;
    }
    </script>
{% endblock content %}