{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Welcome to JobEx :)</legend>
        <legend class="border-bottom mb-4">Positions:</legend>
        <table id="positions" style="width:100%">
            <thead>
            <tr>
                <th>Position</th>
                <th>Department</th>
                <th>Location</th>
                <th>Active</th>
                <th>Comment</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <legend class="border-bottom mb-4"></legend>
<button class="btn btn-outline-info" onclick="window.location = 'http://127.0.0.1:5050/add_position'">Add New Position
</button>
    </fieldset>
</div>
<script>
    $(document).ready(function () {
        $("#loader").show();

        $.ajax({
            type: 'GET',
            url: "http://127.0.0.1:5050/positions?company_id=" + window.localStorage.company_id,
            dataType: 'json',
            headers: {
                'Access-Control-Allow-Origin': '*'
            },
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader('Authorization', "Bearer " + window.localStorage.accessToken);
            },
            contentType: 'application/json',
            positions: JSON.stringify(""),
            success: function (positions_arr) {
                for (let lst_idx = 0; lst_idx < positions_arr.length; lst_idx++) {
                    let json = positions_arr[lst_idx];
                    let tr = $('<tr/>');
                    let link = "<a href=\"http://127.0.0.1:5050/position_view?position_id=" + json._id + "\">" + json.position_name + "</a>";
                    tr.append("<td>" + link + "</td>");
                    tr.append("<td>" + json.position_department + "</td>");
                    tr.append("<td>" + json.position_location + "</td>");
                    tr.append("<td>" + json.position_active + "</td>");
                    tr.append("<td>" + json.comment + "</td>");
                    $('#positions').append(tr);
                }
                $("#loader").hide();
                $(".placeholders").show();
                $('#positions').DataTable();
            },
            error: function () {
                $("#loader").hide();

                //     // just in case posting your form failed
                console.error("Posting failed.");

            }

        })

    });

</script>
{% endblock content %}