{% extends "layout.html" %}
{% block content %}

<div class="content-section">
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Engagement Details:</legend>
        <b>Student ID:</b>
        <p id="student_id"></p>
        <b>Student Full Name:</b>
        <p id="student_fullname">Analyzing...</p>
        <b>Engagement Activated:</b>
        <p id="match_id"></p>
        <b>Engagement Status:</b>
        <p id="status"></p>
        <b>Creation Date:</b>
        <p id="creation_date"></p>
        <button class="btn btn-outline-info" id="advanced_btn" onclick="update_engagement_status('advanced')">Advanced
        </button>
        <button class="btn btn-outline-info" id="rejected_btn" onclick="update_engagement_status('rejected')">Rejected
        </button>
        <legend class="border-bottom mb-4"></legend>
        <button class="btn btn-outline-info" onclick="goBack()">Go Back</button>
    </fieldset>
</div>


<script>
    $(document).ready(function () {
        let url_string = window.location.href;
        let url = new URL(url_string);
        let engagement_id = url.searchParams.get("engagement_id");

        $("#loader").show();

        $.ajax({
            type: 'GET',
            url: "http://127.0.0.1:5050/engagements?engagement_id=" + engagement_id,
            dataType: 'json',
            headers: {
                'Access-Control-Allow-Origin': '*'
            },
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader('Authorization', "Bearer " + window.localStorage.accessToken);
            },
            contentType: 'application/json',
            data: JSON.stringify(""),
            success: function (data) {

                // show the response

                if (data.status == "approved" || data.status == "rejected" || data.status == "advanced") {

                    $.ajax({
                        type: 'GET',
                        url: "http://127.0.0.1:5050/get_student_fullname/" + data.student_id,
                        dataType: 'json',
                        headers: {
                            'Access-Control-Allow-Origin': '*'
                        },
                        beforeSend: function (xhr, settings) {
                            xhr.setRequestHeader('Authorization', "Bearer " + window.localStorage.accessToken);
                        },
                        contentType: 'application/json',
                        fullname: JSON.stringify(""),
                        success: function (fullname) {
                            document.getElementById("student_fullname").innerHTML = fullname.fullname;
                        },
                        error: function () {

                            console.error("Get failed.");

                        }
                    })
                } else {
                    document.getElementById("student_fullname").innerHTML = "Hidden (Status " + data.status + ")";
                }
                document.getElementById("student_id").innerHTML = data.student_id;
                document.getElementById("match_id").innerHTML = data.match_id;
                document.getElementById("status").innerHTML = data.status;
                document.getElementById("creation_date").innerHTML = data.creation_date;
                if (data.status != "approved") {
                    document.getElementById("advanced_btn").hidden = true;
                    document.getElementById("rejected_btn").hidden = true;
                }
                $(".placeholders").show();
                $("#loader").hide();
            }
            ,
            error: function () {
                $("#loader").hide();

                // just in case posting your form failed
                console.error("Posting failed.");

            }
        })

    });

    function update_engagement_status(status) {
        $(".placeholders").hide();
        let url_string = window.location.href;
        let url = new URL(url_string);
        let engagement_id = url.searchParams.get("engagement_id");
        let body = {
            status: status,
            _id: engagement_id
        };
        $.ajax({

            type: 'PUT',
            url: "http://127.0.0.1:5050/engagements?engagement_id=" + engagement_id,
            dataType: 'json',
            headers: {
                'Access-Control-Allow-Origin': '*'
            },
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader('Authorization', "Bearer " + window.localStorage.accessToken);
                $("#loader").show();
            },
            contentType: 'application/json',
            data: JSON.stringify(body),
            success: function (data) {
                location.reload();
            },
            error: function () {
                $("#loader").hide();
                console.error("PUT failed.");
            }
        })

    }

    function goBack() {
        window.history.back();
    }
</script>
{% endblock content %}