{% extends "layout.html" %}
{% block content %}
<h1>Position Name:</h1>
<h2 id="position_name"></h2>
<h1>Position Activated:</h1>
<h2 id="active"></h2>
<h1>Position Department:</h1>
<h2 id="department"></h2>
<h1>Position Skills:</h1>
<h3 id="skills"></h3>
<h1>Position matches:</h1>
<h1>---------------------------------------------</h1>
<table id="matches" style="width:100%">
    <thead>
    <tr>
        <th>Match Level</th>
        <th>Match Update Date</th>
        <th>Engage!</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<h1>---------------------------------------------</h1>
<h1>Active Engagements:</h1>
<h1>---------------------------------------------</h1>
<table id="engagements" style="width:100%">
    <thead>
    <tr>
        <th>Student</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<h1>---------------------------------------------</h1>
<button class="btn btn-outline-info" onclick="goBack()">Go Back</button>
<script>
    $(document).ready(function () {
        let access_token = window.localStorage.accessToken;
        let req = new XMLHttpRequest();
        let url_string = window.location.href;
        let url = new URL(url_string);
        let position_id = url.searchParams.get("position_id");
        var API_url = "http://127.0.0.1:5050/positions/" + position_id;
        req.open("GET", API_url, false);
        req.setRequestHeader('Content-Type', 'application/json');
        req.setRequestHeader('Access-Control-Allow-Origin', '*');
        req.setRequestHeader("Authorization", "Bearer " + access_token);
        req.send();
        let results = JSON.parse(req.response);
        // console.log(results);
        document.getElementById("position_name").innerHTML = results.position_name;
        document.getElementById("active").innerHTML = results.position_active;
        document.getElementById("department").innerHTML = results.position_department;

        // API_url = "http://127.0.0.1:5050/position/skills/" + position_id;
        // req.open("GET", API_url, false);
        // req.setRequestHeader('Content-Type', 'application/json');
        // req.setRequestHeader('Access-Control-Allow-Origin', '*');
        // req.setRequestHeader("Authorization", "Bearer " + access_token);
        // req.send();
        // results = JSON.parse(req.response);
        // todo display position skills


        API_url = "http://127.0.0.1:5050/matches?position_id=" + position_id;
        req.open("GET", API_url, false);
        req.setRequestHeader('Content-Type', 'application/json');
        req.setRequestHeader('Access-Control-Allow-Origin', '*');
        req.setRequestHeader("Authorization", "Bearer " + access_token);
        req.send();
        let matches_arr = JSON.parse(req.response);

        for (let lst_idx = 0; lst_idx < matches_arr.length; lst_idx++) {
            let json = matches_arr[lst_idx];
            if (json.is_engaged == false){
            tr = $('<tr/>');
            tr.append("<td>" + parseFloat(json.match_level_id * 100) + '%'+"</td>");
            tr.append("<td>" + json.match_update_date + "</td>");
            let student_id_str = "'" + json.student_id + "'";
            let match_id_str = "'" + json._id + "'";
            let go_btn = "<button class=\"btn btn-outline-info\" onclick=\"post_engagement(" + student_id_str + ', ' +  match_id_str + ")\">Go</button>";
            tr.append("<td>" + go_btn + "</td>");
            $('#matches').append(tr);}
        }

        API_url = "http://127.0.0.1:5050/engagements?position_id=" + position_id;
        req.open("GET", API_url, false);
        req.setRequestHeader('Content-Type', 'application/json');
        req.setRequestHeader('Access-Control-Allow-Origin', '*');
        req.setRequestHeader("Authorization", "Bearer " + access_token);
        req.send();
        let engagements_arr = JSON.parse(req.response);

        for (let lst_idx = 0; lst_idx < engagements_arr.length; lst_idx++) {
            // console.log(engagements_arr[lst_idx]);
            let json = engagements_arr[lst_idx];
            let tr = $('<tr/>');
            if (json.status == "initiated" || json.status == "declined"){
                let link = "<a href=\"http://127.0.0.1:5050/engagement_view?engagement_id=" + json._id + "\">" + json.student_id + "\</a>";
                tr.append("<td>" + link + "</td>");
            } else {
                API_url = "http://127.0.0.1:5050/get_student_fullname/" + json.student_id;
                req.open("GET", API_url, false);
                req.setRequestHeader('Content-Type', 'application/json');
                req.setRequestHeader('Access-Control-Allow-Origin', '*');
                req.setRequestHeader("Authorization", "Bearer " + access_token);
                req.send();
                let res = JSON.parse(req.response);
                let link = "<a href=\"http://127.0.0.1:5050/engagement_view?engagement_id=" + json._id + "\">" + res.fullname + "\</a>";
                tr.append("<td>" + link + "</td>");
            }
            tr.append("<td>" + json.status + "</td>");
            $('#engagements').append(tr);
        }

    });
</script>
        <script>
        $(document).ready(function () {$('#matches').DataTable();});
        $(document).ready(function () {$('#engagements').DataTable();});
    </script>
<script>
function goBack() {
  window.history.back();
}
</script>
<script>
    function post_engagement(student_id, match_id) {
        let access_token = window.localStorage.accessToken;
        let req = new XMLHttpRequest();
        let API_url = "http://127.0.0.1:5050/engagements";
        req.open("POST", API_url, false);
        req.setRequestHeader('Content-Type', 'application/json');
        req.setRequestHeader('Access-Control-Allow-Origin', '*');
        req.setRequestHeader("Authorization", "Bearer " + access_token);
        let url_string = window.location.href;
        let url = new URL(url_string);
        let position_id = url.searchParams.get("position_id");
        // let today = new Date();
        // let date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
        // let time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
        // let creation_date = today;
        let body = JSON.stringify({
            student_id: student_id,
            match_id: match_id,
            position_id: position_id,
            is_new: true,
            is_deleted: false,
            status: "initiated",
            creation_date: null
        });
        req.send(body);
        /*API_url = "http://127.0.0.1:5050/matches";
        req.open("PUT", API_url, false);
        req.setRequestHeader('Content-Type', 'application/json');
        req.setRequestHeader('Access-Control-Allow-Origin', '*');
        req.setRequestHeader("Authorization", "Bearer " + access_token);
        body = JSON.stringify({
            match_id: match_id,
            is_engaged: true
        });
        req.send(body);*/

$("#loader").show();
 body = JSON.stringify({
            match_id: match_id,
            is_engaged: true
        });
         $.ajax({
            type: 'POST',
            url: "http://127.0.0.1:5050/matches",
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify(body)
        })
        .done(function(data){

            // show the response
            $("#loader").hide();
            console.log(JSON.stringify(data));
        })
        .fail(function() {
            $("#loader").hide();

            // just in case posting your form failed
            console.error( "Posting failed." );

        });


        location.reload();
    }
</script>
{% endblock content %}