{% extends "layout.html" %}
{% block content %}
<h1>Position Name:</h1>
<h2 id="position_name"></h2>
<h1>Position Activated:</h1>
<h2 id="active"></h2>
<h1>Position Department:</h1>
<h2 id="department"></h2>
<h1>Position matches:</h1>
<h1>---------------------------------------------</h1>
<table id="matches" style="width:100%">
    <thead>
    <tr>
        <th>Match Level</th>
        <th>Match Update Date</th>
        <th>Engage!</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<h1>---------------------------------------------</h1>
<h1>Active Engagements:</h1>
<h1>---------------------------------------------</h1>
<table id="engagements" style="width:100%">
    <thead>
    <tr>
        <th>Student</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<h1>---------------------------------------------</h1>
<button class="btn btn-outline-info" onclick="goBack()">Go Back</button>
<script>
    $(document).ready(function () {
        let access_token = window.localStorage.accessToken;
        let req = new XMLHttpRequest();
        let url_string = window.location.href;
        let url = new URL(url_string);
        let position_id = url.searchParams.get("position_id");
        var API_url = "http://127.0.0.1:5050/positions/" + position_id;
        req.open("GET", API_url, false);
        req.setRequestHeader('Content-Type', 'application/json');
        req.setRequestHeader('Access-Control-Allow-Origin', '*');
        req.setRequestHeader("Authorization", "Bearer " + access_token);
        req.send();
        let results = JSON.parse(req.response);
        // console.log(results);
        document.getElementById("position_name").innerHTML = results.position_name;
        document.getElementById("active").innerHTML = results.position_active;
        document.getElementById("department").innerHTML = results.position_department;

        API_url = "http://127.0.0.1:5050/matches?position_id=" + position_id;
        req.open("GET", API_url, false);
        req.setRequestHeader('Content-Type', 'application/json');
        req.setRequestHeader('Access-Control-Allow-Origin', '*');
        req.setRequestHeader("Authorization", "Bearer " + access_token);
        req.send();
        let matches_arr = JSON.parse(req.response);

        for (let lst_idx = 0; lst_idx < matches_arr.length; lst_idx++) {
            // console.log(matches_arr[lst_idx]);
            let json = matches_arr[lst_idx];
            tr = $('<tr/>');
            tr.append("<td>" + json.match_level_id + "</td>");
            tr.append("<td>" + json.match_update_date + "</td>");
            let student_id_str = "'" + json.student_id + "'";
            let match_id_str = "'" + json._id + "'";
            let go_btn = "<button class=\"btn btn-outline-info\" onclick=\"post_engagement(" + student_id_str + ', ' +  match_id_str + ")\">Go</button>";
            tr.append("<td>" + go_btn + "</td>");
            $('#matches').append(tr);
        }

        API_url = "http://127.0.0.1:5050/engagements?position_id=" + position_id;
        req.open("GET", API_url, false);
        req.setRequestHeader('Content-Type', 'application/json');
        req.setRequestHeader('Access-Control-Allow-Origin', '*');
        req.setRequestHeader("Authorization", "Bearer " + access_token);
        req.send();
        let engagements_arr = JSON.parse(req.response);

        for (let lst_idx = 0; lst_idx < engagements_arr.length; lst_idx++) {
            // console.log(engagements_arr[lst_idx]);
            let json = engagements_arr[lst_idx];
            let tr = $('<tr/>');
            let link = "<a href=\"http://127.0.0.1:5050/engagement_view?engagement_id=" + json._id + "\">" + json.student_id + "\</a>";
            tr.append("<td>" + link + "</td>");
            // tr.append("<td>" + json.student_id + "</td>");
            $('#engagements').append(tr);
        }

    });
</script>
        <script>
        $(document).ready(function () {$('#matches').DataTable();});
        $(document).ready(function () {$('#engagements').DataTable();});
    </script>
<script>
function goBack() {
  window.history.back();
}
</script>
<script>
    function post_engagement(student_id, match_id) {
        let access_token = window.localStorage.accessToken;
        let req = new XMLHttpRequest();
        let API_url = "http://127.0.0.1:5050/engagements";
        req.open("POST", API_url, false);
        req.setRequestHeader('Content-Type', 'application/json');
        req.setRequestHeader('Access-Control-Allow-Origin', '*');
        req.setRequestHeader("Authorization", "Bearer " + access_token);
        let url_string = window.location.href;
        let url = new URL(url_string);
        let position_id = url.searchParams.get("position_id");
        let today = new Date();
        let date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
        let time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
        let creation_date = date+', '+time;
        let body = JSON.stringify({
            student_id: student_id,
            match_id: match_id,
            position_id: position_id,
            is_new: true,
            is_deleted: false,
            status: "initiated",
            creation_date: creation_date
        });
        req.send(body);
        location.reload();
    }
</script>
{% endblock content %}