{% extends "layout.html" %}
{% block content %}
<h1>Position Name:</h1>
<h2 id="position_name"></h2>
<h1>Position Activated:</h1>
<h2 id="active"></h2>
<h1>Position Department:</h1>
<h2 id="department"></h2>
<h1>Position Skills:</h1>
<h3 id="skills"></h3>
<h1>Position matches:</h1>
<h1>---------------------------------------------</h1>
<table id="matches" style="width:100%">
    <thead>
    <tr>
        <th>Match Level</th>
        <th>Match Update Date</th>
        <th>Engage!</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<h1>---------------------------------------------</h1>
<h1>Active Engagements:</h1>
<h1>---------------------------------------------</h1>
<table id="engagements" style="width:100%">
    <thead>
    <tr>
        <th>Student</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<h1>---------------------------------------------</h1>
<button class="btn btn-outline-info" onclick="goBack()">Go Back</button>
<script>
    $(document).ready(function () {
        $("#loader").show();
        let students_fullnames = {};
        let url_string = window.location.href;
        let url = new URL(url_string);
        let position_id = url.searchParams.get("position_id");
        $.ajax({
            type: 'GET',
            url: "http://127.0.0.1:5050/positions/" + position_id,
            dataType: 'json',
            headers: {
                'Access-Control-Allow-Origin': '*'
            },
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader('Authorization', "Bearer " + window.localStorage.accessToken);
            },
            contentType: 'application/json',
            results: JSON.stringify(""),
            success: function (results) {
                document.getElementById("position_name").innerHTML = results.position_name;
                document.getElementById("active").innerHTML = results.position_active;
                document.getElementById("department").innerHTML = results.position_department;
            },
            error: function () {
                $("#loader").hide();

                //     // just in case posting your form failed
                console.error("Posting failed.");
            }
        })
        $.ajax({
            type: 'GET',
            url: "http://127.0.0.1:5050/matches?position_id=" + position_id,
            dataType: 'json',
            headers: {
                'Access-Control-Allow-Origin': '*'
            },
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader('Authorization', "Bearer " + window.localStorage.accessToken);
            },
            contentType: 'application/json',
            matches_arr: JSON.stringify(""),
            success: function (matches_arr) {
                for (let lst_idx = 0; lst_idx < matches_arr.length; lst_idx++) {
                    let json = matches_arr[lst_idx];
                    if (json.is_engaged == false) {
                        tr = $('<tr/>');
                        tr.append("<td>" + parseFloat(json.match_level_id * 100) + '%' + "</td>");
                        tr.append("<td>" + json.match_update_date + "</td>");
                        let student_id_str = "'" + json.student_id + "'";
                        let match_id_str = "'" + json._id + "'";
                        let go_btn = "<button class=\"btn btn-outline-info\" onclick=\"post_engagement(" + student_id_str + ', ' + match_id_str + ")\">Go</button>";
                        tr.append("<td>" + go_btn + "</td>");
                        $('#matches').append(tr);
                    }
                }
                $('#matches').DataTable();

            },

            error: function () {
                $("#loader").hide();

                //     // just in case posting your form failed
                console.error("Posting failed.");
            }
        })



        $.ajax({
            type: 'GET',
            url: "http://127.0.0.1:5050/engagements?position_id=" + position_id,
            dataType: 'json',
            headers: {
                'Access-Control-Allow-Origin': '*'
            },
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader('Authorization', "Bearer " + window.localStorage.accessToken);
            },
            contentType: 'application/json',
            engagements_arr: JSON.stringify(""),
            success: function (engagements_arr) {
                for (let lst_idx = 0; lst_idx < engagements_arr.length; lst_idx++) {
                    let json = engagements_arr[lst_idx];
                    let tr = $('<tr/>');
                    let link = "";
                    // let fullname = get_student_fullname(json.student_id);
                    // if (json.status == "initiated" || json.status == "declined") {
                    link = "<a href=\"http://127.0.0.1:5050/engagement_view?engagement_id=" + json._id + "\">" + json.student_id + "\</a>";
                    // } else {
                    //     link = "<a href=\"http://127.0.0.1:5050/engagement_view?engagement_id=" + json._id + "\">" + students_fullnames[json.student_id] + "\</a>";
                    // }
                    tr.append("<td>" + link + "</td>");
                    tr.append("<td>" + json.status + "</td>");
                    $('#engagements').append(tr);
                }
                $("#loader").hide();
                $(".placeholders").show();
                $('#engagements').DataTable();

            },
            error: function () {
                $("#loader").hide();

                //     // just in case posting your form failed
                console.error("Posting failed.");
            }
        })


    });

    function goBack() {
        window.history.back();
    }

    function post_engagement(student_id, match_id) {
        $(".placeholders").hide();
        $("#loader").show();
        let url_string = window.location.href;
        let url = new URL(url_string);
        let position_id = url.searchParams.get("position_id");

        let body = {
            student_id: student_id,
            match_id: match_id,
            position_id: position_id,
            is_new: true,
            is_deleted: false,
            status: "initiated",
            creation_date: null
        };

        $.ajax({

            type: 'POST',
            url: "http://127.0.0.1:5050/engagements",
            dataType: 'json',
            headers: {
                'Access-Control-Allow-Origin': '*'
            },
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader('Authorization', "Bearer " + window.localStorage.accessToken);
            },
            contentType: 'application/json',
            data: JSON.stringify(body),
            success: function (data) {
                update_match(match_id, true)
            },
            error:
            function () {
                $("#loader").hide();

                //     // just in case posting your form failed
                console.error("Posting failed.");

            }
        })
    }

    function update_match(match_id, is_engaged) {
        let body = {
            match_id: match_id,
            is_engaged: is_engaged
        };
        $.ajax({
            type: 'PUT',
            url: "http://127.0.0.1:5050/matches",
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify(body),
            success: function (data) {

                // show the response
                $("#loader").hide();
                console.log(JSON.stringify(data));
            }
        })

            .fail(function () {
                $("#loader").hide();

                // just in case posting your form failed
                console.error("Posting failed.");

            });

        location.reload();
    }
</script>
{% endblock content %}