{% extends "layout.html" %}
{% block content %}
<h1>Username</h1>
<h2 id="username"></h2>
<h1>Company ID:</h1>
<h2 id="company_id"></h2>
<!--<h1>Engagement Status:</h1>-->
<!--<h2 id="status"></h2>-->
<!--<h1>Creation Date:</h1>-->
<!--<h2 id="creation_date"></h2>-->

<script>
    $(document).ready(function () {
        $(".placeholders").show();
        document.getElementById("username").innerHTML = window.localStorage.username;
        document.getElementById("company_id").innerHTML = window.localStorage.company_id;
    });
</script>
{% endblock content %}