{% extends "layout.html" %}
{% block content %}

<div class="content-section">
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">About us:</legend>
        <b>Username</b>
        <p id="username"></p>
        <b>Company ID:</b>
        <p id="company_id"></p>
        <legend class="border-bottom mb-4"></legend>
    </fieldset>
</div>


<script>
    $(document).ready(function () {
        $(".placeholders").show();
        document.getElementById("username").innerHTML = window.localStorage.username;
        document.getElementById("company_id").innerHTML = window.localStorage.company_id;
    });
</script>
{% endblock content %}